<a href="https://colab.research.google.com/github/leesungeun07/Python/blob/master/2_30214_%EC%9D%B4%EC%84%B1%EC%9D%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [연습문제1]

*   학번은 위의 리스트 순으로 1부터 시작한다.
*   60점 이상이면 합격, 그렇지 않으면 불합격

*  다음 코드를 복사해서 부분을 완성하세요~

```
jumsu = [100, 75, 67, 45, 80]
for i, val             ( ): # enumerate 사용
    
    if    >= 60: 
        print("  %  번 학생은 합격입니다."   %  )
    
        print("  %  번 학생은 불합격입니다."   %  )
```
[결과]
#### 1번 학생은 합격입니다.
#### 2번 학생은 합격입니다.
#### 3번 학생은 합격입니다.
#### 4번 학생은 불합격입니다.
#### 5번 학생은 합격입니다.

In [52]:
# your code
jumsu = [100, 75, 69, 45, 80]
for i, val in enumerate(jumsu):
  if jumsu[i] >= 60:
    print('%d' "번 학생은 합격입니다." % (i+1))
  else:
    print('%d' "번 학생은 불합격입니다." % (i+1))

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# [연습문제2]

*   다음 예시와 같이 DataFrame을 만드세요
*   지역, 병상, 확진자, 사망자(사례 5개만들기) 숫자는 자유
*   다음 코드를 복사해서 부분을 완성하세요~
*   [결과](https://drive.google.com/open?id=1tw09Avk3ir4DQuqFy8qdXGfIbZo5xMIy)

In [0]:
import pandas as pd

In [0]:
covid = {'지역': ['인천', '서울', '경기', '강원', '제주'],
         '병상': [120, 210, 120, 24, 84],
         '확진자': [27, 301, 132, 21, 54],
         '사망자': [5, 11, 10, 7, 3]}

In [0]:
col_name=[          ]

In [0]:
df=pd.DataFrame(covid)

In [57]:
df

   지역   병상  확진자  사망자
0  인천  120   27    5
1  서울  210  301   11
2  경기  120  132   10
3  강원   24   21    7
4  제주   84   54    3