## 공공데이터

In [1]:
import pandas as pd

In [40]:
path = r"C:\Users\user\Desktop\covid.csv"
pd.read_csv(path, encoding = 'cp949')

            시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0       강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1       강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2       강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3       강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4       강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN
..          ...         ...   ...  ...       ...        ...               ...
314  충북 청주시 청원구      초정노인병원     3  150       NaN        NaN               NaN
315  충북 청주시 흥덕구      청주현대병원     4  150       NaN        NaN               NaN
316      충북 충주시     건국대충주병원    23  464         Y        NaN               NaN
317      충북 충주시      송원요양병원     2  105       NaN        NaN               NaN
318      충북 충주시   충주시노인전문병원     4  120       NaN        NaN               NaN

[319 rows x 7 columns]

In [41]:
pd.read_csv(path, encoding = 'cp949').head()

       시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0  강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1  강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2  강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3  강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4  강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN

In [42]:
pd.read_csv(path, encoding = 'cp949').tail()

            시군구      의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
314  충북 청주시 청원구     초정노인병원     3  150       NaN        NaN               NaN
315  충북 청주시 흥덕구     청주현대병원     4  150       NaN        NaN               NaN
316      충북 충주시    건국대충주병원    23  464         Y        NaN               NaN
317      충북 충주시     송원요양병원     2  105       NaN        NaN               NaN
318      충북 충주시  충주시노인전문병원     4  120       NaN        NaN               NaN

In [43]:
pd.read_csv(path, encoding = 'cp949').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
시군구                  319 non-null object
의료기관명                319 non-null object
진료과수                 319 non-null int64
병상수                  319 non-null int64
국민안심병원 여부            72 non-null object
감염병전담기관 여부           26 non-null object
감염병전담기관 외래진료 가능여부    26 non-null object
dtypes: int64(2), object(5)
memory usage: 17.6+ KB

In [44]:
pd.read_csv(path, encoding = 'cp949').shape

(319, 7)

In [45]:
pd.read_csv(path, encoding = 'cp949').sample()

         시군구 의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
204  인천시 강화군  강화병원    13  160       NaN        NaN               NaN

In [46]:
pd.read_csv(path, encoding = 'cp949').columns

Index(['시군구', '의료기관명', '진료과수', '병상수', '국민안심병원 여부', '감염병전담기관 여부',
       '감염병전담기관 외래진료 가능여부'],
      dtype='object')

In [47]:
pd.read_csv(path, encoding = 'cp949').dtypes

시군구                  object
의료기관명                object
진료과수                  int64
병상수                   int64
국민안심병원 여부            object
감염병전담기관 여부           object
감염병전담기관 외래진료 가능여부    object
dtype: object

In [48]:
pd.read_csv(path, encoding = 'cp949').isnull()

       시군구  의료기관명   진료과수    병상수  국민안심병원 여부  감염병전담기관 여부  감염병전담기관 외래진료 가능여부
0    False  False  False  False       True        True               True
1    False  False  False  False       True        True               True
2    False  False  False  False       True        True               True
3    False  False  False  False       True        True               True
4    False  False  False  False      False        True               True
..     ...    ...    ...    ...        ...         ...                ...
314  False  False  False  False       True        True               True
315  False  False  False  False       True        True               True
316  False  False  False  False      False        True               True
317  False  False  False  False       True        True               True
318  False  False  False  False       True        True               True

[319 rows x 7 columns]

In [52]:
null_count = pd.read_csv(path, encoding = 'cp949').isnull().sum()
df_null = null_count.reset_index()
df_null

               index    0
0                시군구    0
1              의료기관명    0
2               진료과수    0
3                병상수    0
4          국민안심병원 여부  247
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293

In [53]:
df_null.columns = ['메뉴', '결측']
df_null

                  메뉴   결측
0                시군구    0
1              의료기관명    0
2               진료과수    0
3                병상수    0
4          국민안심병원 여부  247
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293

In [55]:
df_null_3 = df_null.sort_values(by='결측', ascending=False).head(3)
df_null_3

                  메뉴   결측
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293
4          국민안심병원 여부  247

In [57]:
drop_columns = df_null_3['메뉴']
drop_columns

5           감염병전담기관 여부
6    감염병전담기관 외래진료 가능여부
4            국민안심병원 여부
Name: 메뉴, dtype: object

In [58]:
drop_columns.to_list()

['감염병전담기관 여부', '감염병전담기관 외래진료 가능여부', '국민안심병원 여부']

In [60]:
pd.read_csv(path, encoding = 'cp949')[drop_columns]

    감염병전담기관 여부 감염병전담기관 외래진료 가능여부 국민안심병원 여부
0          NaN               NaN       NaN
1          NaN               NaN       NaN
2          NaN               NaN       NaN
3          NaN               NaN       NaN
4          NaN               NaN         Y
..         ...               ...       ...
314        NaN               NaN       NaN
315        NaN               NaN       NaN
316        NaN               NaN         Y
317        NaN               NaN       NaN
318        NaN               NaN       NaN

[319 rows x 3 columns]

In [62]:
print(pd.read_csv(path, encoding = 'cp949').shape)

(319, 7)

In [63]:
df=pd.read_csv(path, encoding = 'cp949').drop(drop_columns, axis=1)

In [64]:
print(df.shape)

(319, 4)

In [65]:
df.head()

       시군구       의료기관명  진료과수  병상수
0  강원도 강릉시      강릉동인병원    21  608
1  강원도 강릉시     박정빈외과의원     1    0
2  강원도 강릉시     이명호내과의원     1    0
3  강원도 고성군       세브란의원     4    0
4  강원도 동해시  근로복지공단동해병원    10  499

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 4 columns):
시군구      319 non-null object
의료기관명    319 non-null object
진료과수     319 non-null int64
병상수      319 non-null int64
dtypes: int64(2), object(2)
memory usage: 10.1+ KB